.errortext {
  padding-left: 1rem;
  top: -18px;
  position: relative;
  color: get-color(alert);
  font-weight: bold;
  font-size: 0.9em;

  &::before {
    content: "*";
  }
}

label {
  cursor: pointer;
}

.input-container {
  position: relative;
  padding-top: 2em;

  //all textish inputs
  input:not([type=submit]):not([type=file]),
  textarea {
    width: 100%;
    overflow: hidden;

    //make placeholder disappear on focus
    &:focus::-webkit-input-placeholder {
      color: white;
    }

    &:focus:-moz-placeholder {
      color: white;
    }

    &:focus::-moz-placeholder {
      color: white;
    }

    &:focus:-ms-input-placeholder {
      color: white;
    }

    & + label {
      left: 0;
      opacity: 0;
    }

    &:focus, &:not(:empty), &:not(:placeholder-shown) {
      & + label {
        opacity: 1;
        transform: translateY(-30%);
        color: #2b2b2b;
      }
    }
  }

  label {
    position: absolute;
    top: 0;
    font-size: 1em;

    padding: {
      left: 1.5em;
      top: 0.935em;
    };
    color: #fff;
    transition: transform 300ms, color 300ms;

    &::after {
      content: ":";
    }
  }
}

textarea {
  min-height: 140px;
}

.fabu::before {
  line-height: .5;
}