/* 515990 */

.off-canvas {
  ul {
    li {
      a {
        color: get-color(logoblue);
      }
    }
  }
}

.topnav {
  height: 100%;
  background: get-color(lightblue);

  @include breakpoint(large) {
    /* SIDEBAR */
  }


  @include breakpoint(medium down) {
    /* OFF CANVAS */
  }
}