.header {
  max-height: 48px;
  background: get-color(logoblue);

  img {
    max-height: 35px;
    height: auto;
    width: auto;

    @include breakpoint(small only) {
      max-height: 57px;
    }
  }

  h4 {
    margin: 0;
    color: $white;
  }

  a {
    color: $white;

    &:hover {
      color: scale-color($white, $lightness: -14%);
    }
  }
}