.errortext {
  padding-left: 1rem;
  top: -18px;
  position: relative;
  color: get-color(alert);
  font-weight: bold;
  font-size: 0.9em;

  &::before {
    content: "*";
  }
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

#search_panel {
  @include mui-hinge($state: in, $from: top, $turn-origin: from-back, $duration: 0.3s, $timing: easeInOut);
}