body.dragging,
body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul.sortable {
  li.placeholder {
    position: relative;
  }

  li.placeholder:before {
    position: absolute;

    /** TODO:Define arrowhead **/
  }

  min-height: 15px;
  min-width: 15px;
}